@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --foreground: #504b55;
  --foreground-secondary: #807d83;
  --foreground-bad: #e22f59;
  --background: #e8edec;
  --background-secondary: #d4d4d4;
  --foreground-schema: #888;
  --foreground-key: rgb(60, 57, 213);
  --foreground-string: #b74731;
  --foreground-number: #455f45;
  --foreground-true: #378e51;
  --foreground-false: #6d7670;

  --background-key-0: #e6e9d7;
  --background-key-1: #cee3c9;
  --background-key-2: #c6dddf;
  --background-key-3: #e3d0e7;
  --background-key-4: #d1d7e7;
  --background-textarea: 227, 232, 232;

  --matched-foreground: #2a86d6;
  --matched-row: #d2e1ee;
  --narrowing-base: #9e62f3;
  --selected-row: #c6f1c8;
  --line-number: royalblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --foreground: #eee7f7;
    --foreground-secondary: #66606e;
    --foreground-bad: #ea5477;
    --background: #1d1d1f;
    --background-secondary: #33333a;
    --foreground-schema: #b3b3b3;
    --foreground-key: #3c7aff;
    --foreground-string: #eaa18b;
    --foreground-number: #7cda65;
    --foreground-true: #73ff9d;
    --foreground-false: #b9d6b1;

    --background-key-0: #2a2c34;
    --background-key-1: #373a30;
    --background-key-2: #3b313b;
    --background-key-3: #323b37;
    --background-key-4: #3d3432;
    --background-textarea: 48, 48, 48;

    --matched-row: #2f463e;
    --narrowing-base: #5822a3;
    --selected-row: #096865;
    --line-number: rgb(133, 141, 255);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

.color-inverted {
  color: var(--background);
  background-color: var(--foreground);
}

.secondary-foreground {
  color: var(--foreground-secondary);
}

.secondary-background {
  background-color: var(--background-secondary);
}

.matched-row {
  background-color: var(--matched-row);
}

.matched-cell {
  color: var(--matched-foreground);
}

.narrowed-from-row {
  .line-number {
    color: white;
    background-color: var(--narrowing-base);
  }
}

.button-unnarrow {
  button {
    color: white;
    background-color: var(--narrowing-base);
    border-color: transparent;
  }
}

.selected-row {
  background-color: var(--selected-row);
}

.route-active {
  color: var(--background);
  background-color: var(--foreground);
}

.flippable-secondary {
  &:hover {
    color: var(--background-secondary);
    background-color: var(--foreground-secondary);
  }
}

.flippable-button {
  &:hover {
    color: var(--background);
    background-color: var(--foreground);
  }
}

.flippable-button-secondary {
  &:hover {
    color: var(--background-secondary);
    background-color: var(--foreground-secondary);
  }
}

.menu-toggle-button {
  &:hover {
    color: var(--background);
    background-color: var(--foreground);
  }
}

* {
  border-color: #888;
}

.line-number {
  color: var(--foreground-secondary);
  text-align: right;
  font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
}

.json-structure {
  position: relative;
  .schema-index, .schema-count, .schema-key, .schema-value {
    color: var(--foreground-schema);
    border-bottom: 1px solid;
  }
}

.item-value {
}

.json-string-structure {
  &.item-value {
    color: var(--foreground-string);
  }
  white-space: nowrap;
  word-wrap: none;
}

.json-number-structure {
  &.item-value {
    color: var(--foreground-number);
    font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
  }
}

.json-null-structure {
  &.item-value {
    font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
  }
}

.item-key, .item-index {
  font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
  &.depth-0{ background-color: var(--background-key-0); }
  &.depth-1{ background-color: var(--background-key-1); }
  &.depth-2{ background-color: var(--background-key-2); }
  &.depth-3{ background-color: var(--background-key-3); }
  &.depth-4{ background-color: var(--background-key-4); }
  &.depth-5{ background-color: var(--background-key-5); }
}

.item-type {
  font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
  color: var(--foreground-secondary);
}

.value-true {
  font-weight: bold;
  color: var(--foreground-true);
}

.value-false {
  font-weight: bold;
  color: var(--foreground-false);
}

.json-text {
  .json-text-textarea {
    color: var(--foreground);
    background-color: rgba(var(--background-textarea), 0.75);
  }
}

.json-type-button {
  border: 1px solid transparent;
  &:hover {
    background-color: var(--foreground);
    color: var(--background-textarea);
  }
}

.modal-backdrop {
  background-color: rgba(var(--background-textarea), 0.3) !important;
}

.Toastify__toast {
  border: 2px solid #888;
  border-radius: 0;
}

.Toastify__toast--error {
  color: red;
}

@mixin transform {
  transform: translate3d(0, 0, 0);
}

@keyframes slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    @include transform;
  }
}

@keyframes slideOutRight {
  from {
    @include transform;
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}

.my-enter {
  animation-fill-mode: both;
  animation-duration: 0.24s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-name: slideInRight;
}

.my-exit {
  animation-fill-mode: both;
  animation-duration: 0.15s;
  animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  animation-name: slideOutRight;
}

.stats {
  font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
}

.stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  .stats-value {
    color: var(--foreground-number);
  }
}

.selecting-status {
  border-radius: 0.25rem;
  padding: 0rem 0.5rem;
  background-color: var(--selected-row);
  .stats-value {
    color: var(--foreground);
  }
}

.narrowing-line {
  color: white;
  background-color: var(--narrowing-base);
  .line-title {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
  }

  .narrowing-status {
    text-decoration: underline;
  }
}

.filter-matched-items {
  color: var(--matched-foreground);
  &.no-hit {
    color: var(--foreground-bad);
  }
  font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
}

.multiple-buttons {
  display: flex;
  flex-direction: row;

  .multiple-buttons-button {
    padding: 0.15rem 0.40rem;
    color: var(--foreground);
    background-color: var(--background);
    &:hover {
      color: var(--background);
      background-color: var(--foreground);
    }
    &.active {
      color: var(--background);
      background-color: var(--foreground);
      text-decoration: underline;
    }
  }
}

.query-view, .query-debug-view {
  background-color: var(--background-secondary);
}
